* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #F5B841;
  color: #222222;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 32px;
}

.sidebar-link > svg { 
  width: 35px; 
}

.sidebar-link > p { 
  font-size: 1.2rem; 
}

#sidebar-title { 
  padding: 24px 0px 8px 24px; 
}

#sidebar-title > svg { 
  width: 46px; 
}

#sidebar-title > p {
  font-size: 1.8rem;
  font-weight: bold;
}

#final-user-option { 
  padding-bottom: 48px; 
}

.navbar {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 32px 16px 32px;
  background-color: #B11226;
}

.top-nav-section {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 80%;
}

.search-bar > svg {
  width: 30px;
}

input {
  width: 30%;
  height: 26px;
  border: none;
  border-radius: 25px;
  background-color: #1E1F2B;
}

.account-options {
  display: flex;
  align-items: center;
  gap: 24px;
}

.account-options > svg {
  width: 30px;
}

.account-options > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.account-options > p {
  font-size: 1.3rem;
}

.bottom-nav-section {
  display: flex;
  justify-content: space-between;
}

.account-info {
  display: flex;
  gap: 12px;
}

.account-info > img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.account-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.account-welcome > p:first-child {
  font-size: 0.9rem;
}

.account-welcome > p:last-child {
  font-size: 1.3rem;
  font-weight: 600;
}

.user-features {
  display: flex;
  align-items: center;
  gap: 32px;
}

.user-features > button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #1E1F2B;
  color: #F8F5F1;
}

.projects-container {
  grid-row: 2/-1;
  background-color: #0F3D2E;
}

.project-icons > svg {
  width: 30px;
}

.announcements-container {
  grid-row: 2/5;
  background-color: #0F3D2E;
}

.people-container {
  grid-row: 5/8;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 8px;
  background-color: #0F3D2E;
}

.people {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background-color: #F7FAFC;
  border-radius: 15px;
}

.person {
  display: flex;
  gap: 16px;
}

.person > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.people-info > p:first-child {
  font-size: 1.2rem;
}

.people-info > p:last-child {
  font-size: 0.85rem;
}

.projects-container > p,
.announcements-container > p,
.people-container > p 
{
  font-size: 1.5rem;
}